nav>.toolbar {
  position: fixed !important;
  width:200px !important;
  z-index: 100;
}
:not(nav)>.toolbar {
  position: fixed !important;
  left:200px !important;
  top:0px !important;
  right:0px !important;
  z-index: 100;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  min-height: 100%;
  z-index: 100;
}
nav>.content {
  margin-top: 55px;
}
:not(nav)>.content {
  margin-top: 55px;
  position: absolute;
  right: 0px;
  left: 200px;
  padding-bottom: 800px;
  min-height: 100%;
  height: auto;
  z-index: 10;
}

#systray {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 100px;
  border: 10px;
  background: none;
  z-index: 102;
}
