/.project
*.o
*.ppu
*.compiled
*.rst
*.bak
*.dbg
*.exe
*.db
*.zip
*.deb
*.lps
.fuse*
promet/source/scripts/tinkerforge/*
lib*/
promet/output/i386-win32/importdata/*
promet/output/*
lazarus_wine/*
build.txt
