[submodule "promet/source/components/brookframework"]
	path = promet/source/components/brookframework
	url = https://github.com/silvioprog/brookframework.git
[submodule "promet/source/components/powerpdf"]
	path = promet/source/components/powerpdf
	url = https://github.com/cutec-chris/PowerPDF
[submodule "promet/source/components/tvplanit"]
	path = promet/source/components/tvplanit
	url = https://github.com/cutec-chris/tvplanit
[submodule "promet/source/components/besen"]
	path = promet/source/components/besen
	url = https://github.com/tcs-ulli/besen.git
[submodule "promet/source/components/TZMSQL"]
	path = promet/source/components/TZMSQL
	url = https://github.com/tcs-ulli/tzmsql
[submodule "promet/source/components/zvdatetimecontrols"]
	path = promet/source/components/zvdatetimecontrols
	url = https://github.com/cutec-chris/zvdatetimecontrols
[submodule "promet/source/components/zvdatetimectrls"]
	path = promet/source/components/zvdatetimectrls
	url = https://github.com/cutec-chris/zvdatetimecontrols
[submodule "promet/source/components/thumbs"]
	path = promet/source/components/thumbs
	url = https://github.com/cutec-chris/lazarus-thumbviewer
[submodule "general"]
	path = general
	url = https://github.com/cutec-chris/general.git
[submodule "promet/source/components/fpspreadsheet"]
	path = promet/source/components/fpspreadsheet
	url = https://github.com/cutec-chris/fpspreadsheet
[submodule "promet/source/components/synapse"]
	path = promet/source/components/synapse
	url = https://github.com/cutec-chris/Ararat-Synapse.git
[submodule "promet/source/components/tapi"]
	path = promet/source/components/tapi
	url = https://github.com/cutec-chris/tapi
[submodule "promet/source/components/sqlparser"]
	path = promet/source/components/sqlparser
	url = https://github.com/cutec-chris/sqlparser
[submodule "promet/source/components/dexif"]
	path = promet/source/components/dexif
	url = https://github.com/cutec-chris/dexif
[submodule "promet/source/components/gifanim"]
	path = promet/source/components/gifanim
	url = https://github.com/cutec-chris/gifanim
[submodule "promet/source/components/jvdesign"]
	path = promet/source/components/jvdesign
	url = https://github.com/cutec-chris/jvdesign
[submodule "promet/source/base"]
	path = promet/source/base
	url = https://github.com/cutec-chris/promet-base
[submodule "promet/source/components/uxmpp"]
	path = promet/source/components/uxmpp
	url = https://github.com/cutec-chris/uxmpp.git
[submodule "promet/source/components/tmqttclient"]
	path = promet/source/components/tmqttclient
	url = https://github.com/cutec-chris/TMQTTClient.git
[submodule "promet/source/components/richmemo"]
	path = promet/source/components/richmemo
	url = https://github.com/cutec-chris/richmemo.git
[submodule "promet/source/plugins/oofile"]
	path = promet/source/plugins/oofile
	url = https://github.com/cutec-chris/doublecmd-plugin-oofile.git
[submodule "promet/source/plugins/winthumb"]
	path = promet/source/plugins/winthumb
	url = https://github.com/tcs-ulli/lister-plugin-winthumb.git
[submodule "promet/source/plugins/dwgfile"]
	path = promet/source/plugins/dwgfile
	url = https://github.com/cutec-chris/lister-plugin-dwg.git
[submodule "promet/source/plugins/vectorfile"]
	path = promet/source/plugins/vectorfile
	url = https://github.com/cutec-chris/lister-plugin-vectorfile.git
[submodule "promet/source/components/OpenRichedit"]
	path = promet/source/components/OpenRichedit
	url = https://github.com/tcs-ulli/OpenRichedit
[submodule "promet/source/components/fpvectorial"]
	path = promet/source/components/fpvectorial
	url = https://github.com/cutec-chris/fpvectorial.git
[submodule "promet/source/plugins/solidworks"]
	path = promet/source/plugins/solidworks
	url = https://github.com/cutec-chris/lister-plugin-solidworks.git
[submodule "promet/source/components/hunspell"]
	path = promet/source/components/hunspell
	url = https://github.com/cutec-chris/hunspell.git
[submodule "promet/source/plugins/target3001"]
	path = promet/source/plugins/target3001
	url = https://github.com/cutec-chris/lister-plugin-target3001.git
[submodule "promet/source/plugins/mindmap"]
	path = promet/source/plugins/mindmap
	url = https://github.com/tcs-ulli/lister-plugin-mindmap.git
[submodule "promet/source/components/bcrypt"]
	path = promet/source/components/bcrypt
	url = https://github.com/cutec-chris/BCrypt-for-delphi-lazarus-fpc.git
[submodule "promet/source/components/python4laz"]
	path = promet/source/components/python4laz
	url = https://github.com/tcs-ulli/Python-for-Lazarus.git
[submodule "promet/source/components/python4delphi"]
	path = promet/source/components/python4delphi
	url = https://github.com/cutec-chris/python4delphi.git
[submodule "promet/source/components/laz-n-tier"]
	path = promet/source/components/laz-n-tier
	url = https://github.com/cutec-chris/laz-n-tier
[submodule "promet/source/components/pascalscript"]
	path = promet/source/components/pascalscript
	url = https://github.com/cutec-chris/pascalscript
[submodule "zeos2"]
	path = promet/source/components/zeos
	url = https://github.com/cutec-chris/ZeosDBO.git
[submodule "promet/source/components/kcontrols"]
	path = promet/source/components/kcontrols
	url = https://github.com/cutec-chris/kcontrols.git
[submodule "promet/source/components/ecc"]
	path = promet/source/components/ecc
	url = https://github.com/cutec-chris/Eye-Candy_Controls
[submodule "promet/source/scripts/plugins/tinkerforge"]
	path = promet/source/scripts/plugins/tinkerforge
	url = https://github.com/cutec-chris/script-plugin-tinkerforge.git
[submodule "promet/source/scripts/plugins/hexfiles"]
	path = promet/source/scripts/plugins/hexfiles
	url = https://github.com/cutec-chris/script-plugin-hexfiles.git
[submodule "promet/source/scripts/plugins/serialport"]
	path = promet/source/scripts/plugins/serialport
	url = https://github.com/cutec-chris/script-plugin-serialport.git
[submodule "promet/source/scripts/plugins/dbus"]
	path = promet/source/scripts/plugins/dbus
	url = https://github.com/cutec-chris/script-plugin-dbus.git
[submodule "promet/source/scripts/plugins/usb"]
	path = promet/source/scripts/plugins/usb
	url = https://github.com/cutec-chris/script-plugin-usb.git
[submodule "promet/source/scripts/plugins/video"]
	path = promet/source/scripts/plugins/video
	url = https://github.com/cutec-chris/script-plugin-video.git
[submodule "promet/source/scripts/plugins/audio"]
	path = promet/source/scripts/plugins/audio
	url = https://github.com/cutec-chris/script-plugin-audio.git
[submodule "promet/source/plugins/diagramm"]
	path = promet/source/plugins/diagramm
	url = https://github.com/cutec-chris/script-plugin-diagram.git
[submodule "promet/source/scripts/plugins/diagramm"]
	path = promet/source/scripts/plugins/diagramm
	url = https://github.com/cutec-chris/script-plugin-diagram.git
[submodule "promet/source/components/simplegraph"]
	path = promet/source/components/simplegraph
	url = https://github.com/cutec-chris/evssimplegraph.git
[submodule "promet/source/scripts/plugins/net"]
	path = promet/source/scripts/plugins/net
	url = https://github.com/cutec-chris/script-plugin-net.git
[submodule "promet/source/scripts/plugins/opencv"]
	path = promet/source/scripts/plugins/opencv
	url = https://github.com/cutec-chris/script-plugin-opencv.git
[submodule "promet/source/components/openqbuilder"]
	path = promet/source/components/openqbuilder
	url = https://github.com/cutec-chris/lazopenqbuilder.git
[submodule "promet/source/components/directx"]
	path = promet/source/components/directx
	url = https://github.com/cutec-chris/directx.git
[submodule "promet/source/scripts/plugins/dxfwrite"]
	path = promet/source/scripts/plugins/dxfwrite
	url = https://github.com/cutec-chris/script-plugin-dxfwrite.git
[submodule "promet/source/components/fpreport"]
	path = promet/source/components/fpreport
	url = https://github.com/cutec-chris/fpReport.git
[submodule "promet/source/components/avamm-db-layer"]
	path = promet/source/components/avamm-db-layer
	url = https://github.com/cutec-chris/avamm-db-layer.git
