[submodule "promet/source/components/zeos"]
	path = promet/source/components/zeos
	url = https://github.com/tcs-ulli/ZeosDBO.git
[submodule "promet/source/components/brookframework"]
	path = promet/source/components/brookframework
	url = https://github.com/silvioprog/brookframework.git
[submodule "promet/source/components/powerpdf"]
	path = promet/source/components/powerpdf
	url = https://github.com/tcs-ulli/PowerPDF
[submodule "promet/source/components/tvplanit"]
	path = promet/source/components/tvplanit
	url = https://github.com/tcs-ulli/tvplanit
[submodule "promet/source/components/besen"]
	path = promet/source/components/besen
	url = https://github.com/tcs-ulli/besen
[submodule "promet/source/components/TZMSQL"]
	path = promet/source/components/TZMSQL
	url = https://github.com/tcs-ulli/tzmsql
[submodule "promet/source/components/zvdatetimecontrols"]
	path = promet/source/components/zvdatetimecontrols
	url = https://github.com/tcs-ulli/zvdatetimecontrols
