[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Promet-ERP
Comment=Promet-ERP System
Exec=promet-erp
Terminal=false
Type=Application
Icon=promet-erp.png
Categories=Application;Office;
GenericName[de_DE]=
