STRINGTABLE
{
 100,  "Line Error"
 101,  "LINEERR_ALLOCATED "
 102,  "LINEERR_BADDEVICEID"
 103,  "LINEERR_BEARERMODEUNAVAIL"
 104,  "Line Error $80000004"
 105,  "LINEERR_CALLUNAVAIL"
 106,  "LINEERR_COMPLETIONOVERRUN"
 107,  "LINEERR_CONFERENCEFULL"
 108,  "LINEERR_DIALBILLING"
 109,  "LINEERR_DIALDIALTONE"
 110,  "LINEERR_DIALPROMPT"
 111,  "LINEERR_DIALQUIET"
 112,  "LINEERR_INCOMPATIBLEAPIVERSION"
 113,  "LINEERR_INCOMPATIBLEEXTVERSION"
 114,  "LINEERR_INIFILECORRUPT"
 115,  "LINEERR_INUSE"
 116,  "LINEERR_INVALADDRESS"
 117,  "LINEERR_INVALADDRESSID"
 118,  "LINEERR_INVALADDRESSMODE"
 119,  "LINEERR_INVALADDRESSSTATE"
 120,  "LINEERR_INVALAPPHANDLE"
 121,  "LINEERR_INVALAPPNAME"
 122,  "LINEERR_INVALBEARERMODE"
 123,  "LINEERR_INVALCALLCOMPLMODE"
 124,  "LINEERR_INVALCALLHANDLE"
 125,  "LINEERR_INVALCALLPARAMS"
 126,  "LINEERR_INVALCALLPRIVILEGE"
 127,  "LINEERR_INVALCALLSELECT"
 128,  "LINEERR_INVALCALLSTATE"
 129,  "LINEERR_INVALCALLSTATELIST"
 130,  "LINEERR_INVALCARD"
 131,  "LINEERR_INVALCOMPLETIONID"
 132,  "LINEERR_INVALCONFCALLHANDLE"
 133,  "LINEERR_INVALCONSULTCALLHANDLE"
 134,  "LINEERR_INVALCOUNTRYCODE"
 135,  "LINEERR_INVALDEVICECLASS"
 136,  "LINEERR_INVALDEVICEHANDLE"
 137,  "LINEERR_INVALDIALPARAMS"
 138,  "LINEERR_INVALDIGITLIST"
 139,  "LINEERR_INVALDIGITMODE "
 140,  "LINEERR_INVALDIGITS"
 141,  "LINEERR_INVALEXTVERSION"
 142,  "LINEERR_INVALGROUPID"
 143,  "LINEERR_INVALLINEHANDLE"
 144,  "LINEERR_INVALLINESTATE"
 145,  "LINEERR_INVALLOCATION "
 146,  "LINEERR_INVALMEDIALIST"
 147,  "LINEERR_INVALMEDIAMODE"
 148,  "LINEERR_INVALMESSAGEID"
 149,  "$80000031"
 150,  "LINEERR_INVALPARAM "
 151,  "LINEERR_INVALPARKID"
 152,  "LINEERR_INVALPARKMODE"
 153,  "LINEERR_INVALPOINTER"
 154,  "LINEERR_INVALPRIVSELECT"
 155,  "LINEERR_INVALRATE"
 156,  "LINEERR_INVALREQUESTMODE"
 157,  "LINEERR_INVALTERMINALID"
 158,  "LINEERR_INVALTERMINALMODE"
 159,  "LINEERR_INVALTIMEOUT"
 160,  "LINEERR_INVALTONE"
 161,  "LINEERR_INVALTONELIST"
 162,  "LINEERR_INVALTONEMODE "
 163,  "LINEERR_INVALTRANSFERMODE"
 164,  "LINEERR_LINEMAPPERFAILED"
 165,  "LINEERR_NOCONFERENCE"
 166,  "LINEERR_NODEVICE"
 167,  "LINEERR_NODRIVER"
 168,  "LINEERR_NOMEM"
 169,  "LINEERR_NOREQUEST"
 170,  "LINEERR_NOTOWNER"
 171,  "LINEERR_NOTREGISTERED"
 172,  "LINEERR_OPERATIONFAILED"
 173,  "LINEERR_OPERATIONUNAVAIL"
 174,  "LINEERR_RATEUNAVAIL"
 175,  "LINEERR_RESOURCEUNAVAIL"
 176,  "LINEERR_REQUESTOVERRUN"
 177,  "LINEERR_STRUCTURETOOSMALL"
 178,  "LINEERR_TARGETNOTFOUND"
 179,  "LINEERR_TARGETSELF"
 180,  "LINEERR_UNINITIALIZED"
 181,  "LINEERR_USERUSERINFOTOOBIG"
 182,  "LINEERR_REINIT"
 183,  "LINEERR_ADDRESSBLOCKED"
 184,  "LINEERR_BILLINGREJECTED"
 185,  "LINEERR_INVALFEATURE"
 186,  "LINEERR_NOMULTIPLEINSTANCE"
 1000, "??"
 1001, "PHONEERR_ALLOCATED"
 1002, "PHONEERR_BADDEVICEID"
 1003, "PHONEERR_INCOMPATIBLEAPIVERSION"
 1004, "PHONEERR_INCOMPATIBLEEXTVERSION"
 1005, "PHONEERR_INIFILECORRUPT"
 1006, "PHONEERR_INUSE"
 1007, "PHONEERR_INVALAPPHANDLE"
 1008, "PHONEERR_INVALAPPNAME"
 1009, "PHONEERR_INVALBUTTONLAMPID"
 1010, "PHONEERR_INVALBUTTONMODE"
 1011, "PHONEERR_INVALBUTTONSTATE"
 1012, "PHONEERR_INVALDATAID"
 1013, "PHONEERR_INVALDEVICECLASS"
 1014, "PHONEERR_INVALEXTVERSION"
 1015, "PHONEERR_INVALHOOKSWITCHDEV"
 1016, "PHONEERR_INVALHOOKSWITCHMODE"
 1017, "PHONEERR_INVALLAMPMODE"
 1018, "PHONEERR_INVALPARAM"
 1019, "PHONEERR_INVALPHONEHANDLE"
 1020, "PHONEERR_INVALPHONESTATE"
 1021, "PHONEERR_INVALPOINTER"
 1022, "PHONEERR_INVALPRIVILEGE"
 1023, "PHONEERR_INVALRINGMODE"
 1024, "PHONEERR_NODEVICE"
 1025, "PHONEERR_NODRIVER"
 1026, "PHONEERR_NOMEM"
 1027, "PHONEERR_NOTOWNER"
 1028, "PHONEERR_OPERATIONFAILED"
 1029, "PHONEERR_OPERATIONUNAVAIL"
 1030, "PHONEERR_RESOURCEUNAVAIL"
 1031, "PHONEERR_REQUESTOVERRUN"
 1032, "PHONEERR_STRUCTURETOOSMALL"
 1033, "PHONEERR_UNINITIALIZED"
 1034, "PHONEERR_REINIT"
 1035, "PHONEERR_"
 2001, "TAPIERR_BADDEVICEID"
 2002, "TAPIERR_NOTACTIVE"
}









